/* Style de la table des produits */
.products-table {
    width: 997px;
    margin: 20px 0;
    max-height: 400px; /* Définir une hauteur fixe pour le conteneur */
    overflow-y: auto; /* Activer le défilement vertical */
    border: 1px solid #ddd; /* Ajouter une bordure pour mieux distinguer */
    border-radius: 5px; /* Rendre les coins arrondis */
    margin: 20px 0;
    padding: 10px; /* Ajouter un peu d'espace autour */
    background-color: #fff; /* Fond blanc pour le contraste */
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Style du modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .modal button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }
  .edit-button{
    width: 40px;
    background-color: black;
  }
  .delete-button {
    background-color: #dc3545;
    width: 40px;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  /* Style de la table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  td img {
    max-width: 50px;
  }
  